.Client-page{
    margin-top: 80px;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.name-container{
    width: 15vw;
    border: 2px solid black;
    margin-bottom: 25px;
    display: flex;
	justify-content: center;
}

.drop-x-container{
    border: 1px solid black;
    width: 10vw;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
}

.dropDownArrow-style{
    /* border: none; */
    /* background-color: black; */
    margin-top: 8px;
    width: 15px;
    border: 1px red;

}

.delete{
    /* border: none; */
    border: 1px blue;
}